<div fxLayout="column">
  <div class="contact-image">
    <section class="section" fxFlex="100" fxLayoutAlign="center center">
      <p class="default-text large-text">We'd Love to hear From You</p>
    </section>
  </div>
</div>
<br /><br /><br /><br />

<div class="col-md-12">
  <div class="col-md-11 offset-md-1">
    <p style="font-size: 50px;font-weight: 600;">
      Contact Us!
    </p>
    <div>
      <div class="social-media-icon linkedin">
        <i class="fa icon-margin fa-lg fa-linkedin"></i>
      </div>
      <div class="social-media-icon twitter">
        <i class="fa fa-lg icon-margin fa-twitter"></i>
      </div>
    </div>
  </div>
  <br>

  <div class="contact-div row">
    <div class="col-7 offset-md-1">
      <form>
        <div class="form-group">
          <input type="text" placeholder="Name" class="form-control" />
        </div>
        <div class="form-group">
          <input type="email" placeholder="Email" class="form-control" />
        </div>
        <div class="form-group">
          <textarea
            class="form-control"
            rows="6"
            placeholder="Message"
            column="100"
          ></textarea>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button type="button" class="btn leave-message button-color">
            LEAVE A MESSAGE
          </button>
        </div>
      </form>
    </div>
    <div class="col-3 offset-md-1">
      <div>
        <i class="fa fa-2x fa-envelope icon-color"></i>
        <h4>Email Us</h4>
        <h6>contact@liivlabs.com</h6>
      </div>
    </div>
  </div>
  <br /><br />
</div>
