<div class="blog-item">
  <div class="pic-div">
    <!-- <img [src]="src" /> -->
  </div>
  <div class="vertical-spacer"></div>
  <div class="content">
    <h4>Title of the blog</h4>

    <h6 class="grey-text">Author | Created Date | 0 Comments</h6>
    <h6 class="grey-text">Automated transcription through cloud based transcription services is a simple way for law firms of all sizes to save time and money. This convenient technology allows lawyers to dictate notes anywhere with an internet connection, and returns quality transcriptions</h6>
  </div>
</div>
