<div class="blog-item">
  <div class="pic-div">
    <img [src]="src" />
  </div>

  <div class="content">
    <h2 class="entry-title">
      <a>Automated Transcription Increases Lawyers’ Productivity</a>
    </h2>
    <div class="blog-text">
      <p class="grey-text">by Liivlabs | Apr 24,2018</p>
      <p class="grey-text information">
        Automated transcription through cloud based transcription services is a
        simple way for law firms of all sizes to save time and money. This
        convenient technology allows lawyers to dictate notes anywhere with an
        internet connection, and returns quality transcriptions
      </p>
    </div>
  </div>
</div>
