<div fxLayout="column">
  <div class="try-it-free">
    <section class="section" fxFlex fxLayoutAlign="center center">
      <div class="col-md-6 offset-md-2 align-self-center">
        <p class="default-text large-text">First 30 Minutes of Transcription Free</p>
      </div>
    </section>
  </div>

  <div fxFlex="100" fxLayoutAlign="center center">
    <div class="form-div">
      <form class="login-form">
        <div class="form-group">
          <label>First Name</label>
          <input
            type="email"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input
            type="email"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>User Email</label>
          <input
            type="email"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>User Password</label>
          <input
            type="password"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input
            type="password"
            class="form-control"
          />
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Our Terms & Conditions</label
          >
        </div>
        <button type="button" class="btn button-color col-md-12">Submit</button>
        <br />
      </form>
    </div>
  </div>
</div>
