<div fxLayout="column">
  <div class="try-it-free">
    <section class="section" fxFlex fxLayoutAlign="center center">
      <div class="col-md-6 align-self-center">
        <p class="default-text large-text">First 30 Minutes of Transcription Free</p>
      </div>
    </section>
  </div>

  <div fxFlex="100" fxLayoutAlign="center center">
    <div class="form-div">
      <form class="login-form" [formGroup]="signupForm"  (keydown)="onKeydown($event)">
        <div class="form-group">
          <label>First Name</label>
          <input
            formControlName="firstName"
            type="text"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input
          formControlName="lastName"
            type="text"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>User Email</label>
          <input
            type="email"
            formControlName="emailAddress"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>User Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input
          formControlName="confirmPassword"
            type="password"
            class="form-control"
          />
          <div class="error" *ngIf="confirmError">Confirm password mismatch</div>
        </div>
        
        <div class="form-group form-check">
          <input formControlName="terms" type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Our Terms & Conditions</label>
          <div class="error" *ngIf="termsError">Please accept terms and conditions</div>
        </div>
        
        <div class="error" *ngIf="signupError" >User already exists</div>
        <div class="error" *ngFor="let err of errors">{{err}}</div>

        <button type="button" class="btn button-color col-md-12" (click)="onSubmit()" [attr.disabled]="signupForm.valid ? null: ''">Submit</button>
        <br />
      </form>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
