<div fxLayout="column">
  <div class="join-today">
    <section class="section" fxFlex>
      <br /><br /><br />
      <div fxLayout="row" fxLayoutAlign="center center">
        <p class="default-text">Welcome Back</p>
      </div>
    </section>
  </div>

  <div fxFlex="100" fxLayoutAlign="center center">
    <div class="form-div">
      <form class="login-form" [formGroup]="loginForm">
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            formControlName="emailAddress"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="button" class="btn button-color col-md-12" (click)="onSubmit()" [attr.disabled]="loginForm.valid ? null: ''">Submit</button>
        <div class="form-group form-check">
        <div class="error margin-top" *ngIf="showError">email and password mismatch</div>
        <div class="error" *ngFor="let err of errors">{{err}}</div>
        </div>
        <div>
          <a routerLink="/forget">Forgot your Password?</a>
        </div>
        <div class="margin-top">
          <a href="" routerLink="/tryFree">Not a member yet? Sign up Now.</a>
        </div>
      </form>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>