<div fxLayout="column">
  <div class="join-today">
    <section class="section" fxFlex>
      <br /><br /><br />
      <div fxLayout="row" fxLayoutAlign="center center">
        <p class="default-text">Join Today</p>
      </div>
      <!-- <div fxLayout="row" fxLayoutAlign="center center">
        <h4 class="default-text">
          Soeoh fhief eife ff hheigh ehfh hheh viehv rhgrhgr ogrg g
          roghroighrhggpo g gohh ohooo
        </h4>
      </div> -->
    </section>
  </div>

  <div fxFlex="100" fxLayoutAlign="center center">
    <div class="form-div">
      <form class="login-form">
        <div class="form-group">
          <label for="exampleInputEmail1">Username or Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="button" class="btn button-color col-md-12">Submit</button>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Remember Me</label
          >
        </div>
        <div>
          <a href="">Lost your Password?</a>
        </div>
        <br />
        <div>
          <a href="">Not a member yet? Register Now.</a>
        </div>
      </form>
    </div>
  </div>
</div>
