<div fxLayout="column">
  <div class="blog-image"></div>
</div>

<div class="row main-div">
  <div class="sidenav-container">
    <div class="sidenav">
      <div
        class="col-md-12 sidebar-item text-center cursor"
        (click)="toggleFindAndReplace()"
      >
        <i
          class="fa fa-search"
          [style.color]="findReplaceShow ? 'black' : 'white'"
        ></i>
        <p
          class="text-center"
          [style.color]="findReplaceShow ? 'black' : 'white'"
        >
          Find & Replace
        </p>
      </div>
      <div
        class="col-md-12 sidebar-item text-center"
        (click)="onHighlightClick()"
      >
        <i
          class="fa fa-moon-o"
          [style.color]="highlightShow ? 'black' : 'white'"
        ></i>
        <p
          class="text-center"
          [style.color]="highlightShow ? 'black' : 'white'"
        >
          Highlight
        </p>
      </div>
      <div class="col-md-12 sidebar-item text-center" (click)="onStrikeClick()">
        <i
          class="fa fa-strikethrough"
          [style.color]="strikeOutShow ? 'black' : 'white'"
        ></i>
        <p
          class=" text-center"
          [style.color]="strikeOutShow ? 'black' : 'white'"
        >
          Strike
        </p>
      </div>
      <div
        class="col-md-12 sidebar-item text-center"
        (click)="readAlong = !readAlong"
      >
        <i class="fa fa-eye" [style.color]="readAlong ? 'black' : 'white'"></i>
        <p class="text-center" [style.color]="readAlong ? 'black' : 'white'">
          Read Along
        </p>
      </div>
      <div class="col-md-12 sidebar-item text-center" (click)="undoClick()">
        <i class="fa fa-undo" [style.color]="undoShow ? 'black' : 'white'"></i>
        <p class="text-center" [style.color]="undoShow ? 'black' : 'white'">
          Undo
        </p>
      </div>
      <!-- <div class="col-md-12 sidebar-item">
        <p class="text-center">Shortcuts</p>
      </div> -->
    </div>
  </div>

  <div class="tab-div">
    <div class="row editor-div">
      <div class="col-md-8 left-container">
        <div *ngIf="findReplaceShow">
          <div class="form-row">
            <div class="form-group  col-md-5">
              <input
                type="text"
                class="form-control"
                id="find"
                placeholder="Find"
                [(ngModel)]="findWord"
                (input)="findAllOccurences()"
              />
            </div>
            <div class="form-group col-md-4">
              <button class="btn btn-dark mr-1" (click)="findNextOccurence()">
                Next
              </button>
              <button
                class="btn btn-dark mr-1"
                (click)="findPreviousOccurence()"
              >
                Previous
              </button>
              <span *ngIf="allOccurences.length > 0"
                >{{ currentIndexOfWord + 1 }}/{{ allOccurences.length }}</span
              >
            </div>
          </div>
          <div class="form-row" *ngIf="allOccurences.length > 0">
            <div class="form-group  col-md-5">
              <input
                type="text"
                class="form-control"
                id="replace"
                placeholder="Replace"
                [(ngModel)]="replaceWord"
              />
            </div>
            <div class="form-group col-md-4 ">
              <button class="btn btn-dark mr-1" (click)="replaceCurrentWord()">
                Replace
              </button>
              <button class="btn btn-dark" (click)="replaceAllWords()">
                Replace All
              </button>
            </div>
          </div>
        </div>

        <div class="accordion" id="accordionExample">
          <span class="fileName">{{ fileName }} - </span>&nbsp;
          <span>{{ lastModifiedText }}</span>
          <button
            class="btn button-color button-blue generate"
            (click)="goToRoute('Summary')"
          >
            Generate Summary
          </button>
          <button
            class="btn button-color button-blue"
            (click)="goToRoute('QA')"
          >
            Generate Q & A
          </button>
          <hr />
          <ng-container *ngFor="let filetext of filetexts; let i = index">
            <div class="card" *ngIf="i < filetexts.length - 1">
              <div class="card-header">
                <h4>
                  <span
                    class="text-content-header"
                    [ngClass]="{
                      highlight: i == outerIndexOfWord && innerIndexOfWord == -1
                    }"
                    [attr.data-outerindex]="i"
                    contenteditable="true"
                    (input)="onContentChange()"
                  >
                    {{
                      ((filetext?.Alternatives)[0]?.Words)[0]?.SpeakerTag
                    }}</span
                  ><span
                    class="headerTime card-div"
                    [attr.data-time]="
                      ((filetext?.Alternatives)[0]?.Words)[0]?.StartTime
                        ?.Seconds
                    "
                    (click)="updateVideoTime($event)"
                    ><i class="fa fa-play fa-1x"></i>&nbsp;{{
                      ((filetext?.Alternatives)[0]?.Words)[0]?.StartTime
                        .Seconds | minuteSeconds
                    }}</span
                  >
                </h4>
                <div
                  contenteditable="true"
                  (input)="onContentChange()"
                  class="row justify-content-between align-items-center"
                >
                  <div class="mb-0">
                    <span
                      class="text-content"
                      [attr.data-outerindex]="i"
                      [attr.data-innerindex]="index"
                      [attr.data-time]="
                        word?.StartTime.Seconds +
                        word?.StartTime.Nanos / 1000000000
                      "
                      [attr.data-endtime]="
                        word?.EndTime.Seconds + word?.EndTime.Nanos / 1000000000
                      "
                      (click)="updateVideoTime($event)"
                      *ngFor="
                        let word of filetext.Alternatives[0].Words;
                        let index = index
                      "
                      [ngClass]="{
                        highlight:
                          (word?.StartTime.Seconds +
                            word?.StartTime.Nanos / 1000000000 <=
                            currentTime &&
                            word?.EndTime.Seconds +
                              word?.EndTime.Nanos / 1000000000 >
                              currentTime &&
                            readAlong) ||
                          (i == outerIndexOfWord && index == innerIndexOfWord),
                        'highlight-yellow': word.highlight,
                        cut: word.cut
                      }"
                    >
                      {{ word.Word.trim() }}
                    </span>
                  </div>
                </div>
              </div>
              <br />
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col-md-4 right-container">
        <div class="row videoDiv">
          <video
            class="setSize"
            *ngIf="videoUrl.length > 0"
            (timeupdate)="highlightText($event)"
            (ended)="this.isPaused = true"
            #videoPlayer
          >
            <source type="video/webm" [src]="videoUrl" />
          </video>
        </div>
        <div class="row align-items-center">
          <div
            class="col-md-3 action-item text-center cursor"
            (click)="toggleVideo()"
          >
            <i class="fa fa-play fa-1x " *ngIf="isPaused"></i>
            <i class="fa fa-pause fa-1x " *ngIf="!isPaused"></i>
            <p *ngIf="isPaused">Play</p>
            <p *ngIf="!isPaused">Pause</p>
          </div>
          <div
            class="col-md-3 action-item text-center cursor"
            (click)="rewind5Sec()"
          >
            <i class="fa fa-backward fa-1x"></i>
            <p>Back - 5s</p>
          </div>
          <div
            class="col-md-3 action-item text-center cursor"
            (click)="toggleSpeed()"
          >
            <p class="speed">{{ playbackRate }}x</p>
            <p>Speed</p>
          </div>
          <div
            class="col-md-3 action-item volume text-center cursor"
            (click)="toggleAudio()"
          >
            <i class="fa fa-microphone-slash fa-1x" *ngIf="!isMute"></i>
            <i class="fa fa-microphone fa-1x" *ngIf="isMute"></i>
            <p *ngIf="!isMute">Mute</p>
            <p *ngIf="isMute">UnMute</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
