@import '../../assets/variables.scss';
.service-item{
    height:280px;
    width:100%;
    background-color: transparent;
    >div{
        text-align: center;
        padding:10%;
    }
    i{
        color:$primary-color;
    }
}
img{
    max-width: 100%;
    height: auto;
    color:white;
}