<nav class="navbar navbar-light navbar-expand-lg justify-content-center">
  <img src="assets/logo.png" (click)="goToPage('home')" />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#collapsingNavbar3"
    #menuButton
    (click)="toggleCollapsed()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    [ngClass]="{ collapse: collapsed, 'navbar-collapse': true }"
    class="w-100"
    id="collapsingNavbar3"
  >
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item" (click)="menuButton.click(); showFooter = true">
        <a class="nav-link title" routerLink="home">Home</a>
      </li>
      <!-- <li class="nav-item" (click)="menuButton.click(); showFooter = true">
        <a class="nav-link title" routerLink="pricing">Pricing</a>
      </li> -->
      <li class="nav-item" (click)="menuButton.click(); showFooter = true">
        <a
          class="title nav-link menu-item"
          routerLink="tryFree"
          *ngIf="!isLoggedIn"
          >Try It Free</a
        >
      </li>
      <li class="nav-item" (click)="menuButton.click(); showFooter = true">
        <a class="title nav-link" routerLink="blog">Media</a>
      </li>
      <li class="nav-item" (click)="menuButton.click(); showFooter = true">
        <a class="title nav-link menu-item" routerLink="contact">Contact</a>
      </li>
      <li class="nav-item" (click)="menuButton.click(); showFooter = true">
        <a
          class="title nav-link menu-item"
          routerLink="login"
          *ngIf="!isLoggedIn"
          >Login</a
        >
      </li>
      <li
        *ngIf="role == 'Professor'"
        class="nav-item"
        (click)="menuButton.click(); showFooter = true"
      >
        <a class="nav-link title" routerLink="speech-to-text" *ngIf="isLoggedIn"
          >Note taker</a
        >
      </li>
      <li class="nav-item">
        <a
          class="title nav-link menu-item"
          routerLink="myfiles"
          (click)="menuButton.click()"
          *ngIf="isLoggedIn"
          >My Notes
          <span class="badge badge-pill badge-dark notify" *ngIf="isNewFile"
            >New</span
          ></a
        >
      </li>

      <li
        class="nav-item pointer"
        (click)="logout(); menuButton.click(); showFooter = true"
      >
        <a class="title nav-link menu-item" *ngIf="isLoggedIn">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="login-footer" *ngIf="showFooter">
  <div class="row justify-items-center">
    <div class="col-6 footer-item-1">
      <h4 class="default-text text-center">Reach Us:</h4>
      <div class="text-center">
        <i
          class="fa fa-2x fa-envelope cursor-pointer icon-color"
          (click)="goToPage('contact')"
        ></i>
        <!-- <h5 class="default-text">Email</h5>
        <h6 class="default-text text-center">contact@Eznotes.com</h6> -->
      </div>
    </div>
    <div class="col-6 footer-item-1">
      <h4 class="default-text text-center">Follow Us:</h4>
      <div class="text-center">
        <div class="social-media-icon twitter">
          <i class="fa fa-lg icon-margin fa-twitter"></i>
        </div>
        <div class="social-media-icon linkedin">
          <i class="fa icon-margin fa-lg fa-linkedin"></i>
        </div>
        <div class="social-media-icon facebook">
          <i class="fa fa-lg fa-facebook"></i>
        </div>
        <div class="social-media-icon instagram">
          <i class="fa icon-margin fa-lg fa-instagram"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer col-md-12 row justify-content-center">
  <p>About Us</p>
  <p>FAQ</p>
  <p>Privacy</p>
</div>
