<div class="blog-container" fxLayout="column">
  <div class="blog-image">
    <section class="section">
      <div class="default-text large-text cross-font">Q & A Generator</div>
      <div class="default-text small-text cross-font">
        Valuing Your Time Always!
      </div>
    </section>
  </div>
</div>
<!-- <div class="add-summary-div row">
  <br /><br />
  <div class="col-md-8">
    <div class="row textbox-div">
      <div class="col-md-6">
        <div class="row justify-content-center">
          <h4>Copy & Paste Text Here</h4>
        </div>
        <textarea
          rows="10"
          columns="50"
          id="qasummarytextarea"
          [(ngModel)]="text"
        >
        </textarea>
      </div>
      <div class="col-md-6">
        <h4 class="col-md-12">Ask Question</h4>
        <textarea
          rows="2"
          class="col-md-10 offset-md-1"
          columns="100"
          [(ngModel)]="query"
          (input)="showWarning = false"
        >
        </textarea>
        <br /><br />
        <div class="col-md-6 offset-md-3">
          <button
            type="button"
            class="generate-summary"
            (click)="generateSummary()"
          >
            Generate Answer
          </button>
        </div>
        <p
          style="color: red; text-align: center; margin-top: 16px;"
          *ngIf="showWarning"
        >
          Please enter some text!
        </p>
      </div>
      <br />
    </div>
    <div class="row col-md-6 justify-content-around mt2">
      <fa
        name="file-text"
        size="2x"
        class="cursor-p"
        (click)="navigateMyFiles()"
        title="View my files"
      ></fa>
    </div>
    <br /><br />
  </div>
  <div class="image-div col-md-4">
    <img src="assets/Query.jpg" />
  </div>
</div> -->

<!-- QA Box -->
<div class="qa-container" *ngIf="isPopupOpen">
  <div class="flip-card" [ngClass]="{ rotate: !isQuestion }">
    <div class="flip-card-inner">
      <div class="flip-card-front" (click)="toggleCard()">
        <textarea
          autofocus
          id="focus-area"
          placeholder="Enter your text and rotate to get answer"
          rows="13"
          [(ngModel)]="popupQ"
        ></textarea>
      </div>
      <div class="flip-card-back" (click)="toggleCard()">
        <textarea
          placeholder="No answer is here!"
          [disabled]="true"
          rows="14"
          [(ngModel)]="popupA"
        ></textarea>
      </div>
    </div>
    <fa
      *ngIf="currentIdx > 0"
      name="backward"
      title="Previous card"
      size="2x"
      class="popup-icon arrow-left"
      (click)="backward($event)"
    ></fa>
    <fa
      name="plus"
      size="2x"
      class="popup-icon add-icon"
      title="Add new question"
      (click)="addQuestion()"
    ></fa>
    <fa
      name="repeat"
      size="2x"
      class="popup-icon flip-icon"
      title="Flip card"
      (click)="toggleCard()"
    ></fa>
    <fa
      name="close"
      size="2x"
      class="popup-icon close-icon"
      title="Close cue cards"
      (click)="closePopup()"
    ></fa>
    <fa
      name="save"
      size="2x"
      class="popup-icon save-icon"
      title="Save this card"
      (click)="saveCard()"
    ></fa>
    <fa
      *ngIf="currentIdx < current.length - 1"
      title="Next card"
      name="forward"
      size="2x"
      class="popup-icon arrow-right"
      (click)="forward($event)"
    ></fa>
    <ngx-spinner name="popup"></ngx-spinner>
  </div>
</div>
<ngx-spinner></ngx-spinner>
<notifier-container></notifier-container>
