<div fxLayout="column">
  <div class="home-item-image">
    <div class="row col-md-12 section">
      <!-- <div class="col-md-7 default-text large-text">
        Eznotes transcribes a wide-range of legal documents, delivering highly
        accurate transcripts in minutes!
      </div> -->
      <div class="col-md-7 default-text large-text">
        <h1 class="text-center form-heading">
          Eznotes Delivers Highly Accurate Notes In Minutes!
        </h1>
      </div>
      <!-- <div class="col-md-5 text-center">
        <button class="btn button-color" routerLink="/tryFree">
          Try It Free!
        </button>
      </div> -->
    </div>
  </div>
</div>
<div class="col-md-12 row home-item-container justify-content-around">
  <div class="col-md-10">
    <p class="image-heading text-center">
      Benefits of lecture capture for students
    </p>
    <div class="row mb-lg-4 mb-2">
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa fa-play"></i>
            Students who miss lectures because of illness or other unavoidable
            circumstance will have access to both the video recordings and
            transcribed notes
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa fa-play"></i>
            Students can listen to the recorded audio while following along with
            the transcribed notes
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-lg-4 mb-2">
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa  fa-play"></i>
            Students can revisit a lecture, refresh their memory and fill gaps
            they missed while in the face to face lecture
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa fa-play"></i>
            Students can access the audio recording and transcribed lecture and
            can rewind, replay, and follow along in real time
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-lg-4 mb-2">
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa fa-play"></i>
            Students can review the lecture and go back to points the professor
            emphasized during class to aid with their studies
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa fa-play"></i>
            Students will be able to focus and participate more during the face
            to face lectures without having to worry about note taking
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa fa-play"></i>
            ESL students and students with additional learning disabilities will
            be able to access the recorded audio and transcribed notes at their
            own pace
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa fa-play"></i>
            Students can revisit the recorded lecture and review topics they did
            not fully grasp during the live lecture
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-5">
    <h1 class="text-center form-heading">FREE TRIAL SIGN UP</h1>
    <div class="form-div">
      <form class="login-form">
        <div class="form-group">
          <label>First Name</label>
          <input type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label>User Email</label>
          <input type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label>User Password</label>
          <input type="password" class="form-control" />
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" />
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Our Terms & Conditions</label
          >
        </div>
        <button type="button" class="btn submit-btn col-md-12">Submit</button>
        <br />
      </form>
    </div>
  </div> -->
</div>
<div class="col-md-12 row home-item-container justify-content-around">
  <div class="col-md-10">
    <p class="image-heading text-center">
      Benefits to Universities
    </p>
    <div class="row mb-lg-4 mb-2">
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa fa-play"></i>
            Provides inclusiveness and accessibility for ESL students and
            students with additional education needs the opportunity to
            personalize their individual learning
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa fa-play"></i>
            Recorded lectures can be presented once and reuse as often as needed
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-lg-4 mb-2">
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa  fa-play"></i>
            Recorded lectures can be used to accommodate online and distance
            learning
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa fa-play"></i>
            Professors will have the ability to record lectures if they will be
            away from campus on a given day
          </p>
        </div>
      </div>
    </div>
    <div class="row mb-lg-4 mb-2">
      <div class="col-md-6 col-12">
        <div class="list-item">
          <p>
            <i class="fa fa-play"></i>
            Increase rapport between students and professors providing
            opportunities for questions and problem solving in class
          </p>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="list-item"></div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-5">
    <h1 class="text-center form-heading">FREE TRIAL SIGN UP</h1>
    <div class="form-div">
      <form class="login-form">
        <div class="form-group">
          <label>First Name</label>
          <input type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label>User Email</label>
          <input type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label>User Password</label>
          <input type="password" class="form-control" />
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" />
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Our Terms & Conditions</label
          >
        </div>
        <button type="button" class="btn submit-btn col-md-12">Submit</button>
        <br />
      </form>
    </div>
  </div> -->
</div>
<div class="col-md-12 row info-container justify-content-around">
  <!-- <div class="col-md-5"> -->
  <!-- <p>
      <strong>Eznotes Transcribe</strong> provides the highest quality
      audio-to-text and video-to-text transcription services available on the
      market through proprietary technology that is fast, secure, accurate and
      easy to use. We provide the highest quality service with our flexible and
      cost efficient plans that will improve your workflow and increase your
      profitability.
    </p> -->
  <!-- </div> -->
  <!-- <div class="col-md-5 checkbox-item-container">
    <div class="row checkbox-row">
      <div class="col-md-6 row">
        <i class="fa fa-check-square-o fa-2x"></i>
        <h3>Audio-To-Text</h3>
      </div>
      <div class="col-md-6">
        <i class="fa fa-check-square-o fa-2x"></i>
        <h3>Summary</h3>
      </div>
    </div>
    <div class="row checkbox-row">
      <div class="col-md-6">
        <i class="fa fa-check-square-o fa-2x"></i>
        <h3>Voice-To-Text</h3>
      </div>
      <div class="col-md-6">
        <i class="fa fa-check-square-o fa-2x"></i>
        <h3>Transcript File Management</h3>
      </div>
    </div>
    <div class="row checkbox-row">
      <div class="col-md-10">
        <i class="fa fa-check-square-o fa-2x"></i>
        <h3>Captioning</h3>
      </div>
    </div>
  </div> -->
</div>
