<div fxLayout="column">
  <div class="home-item-image">
    <div class="row col-md-12 section">
      <!-- <div class="col-md-7 default-text large-text">
        Eznotes transcribes a wide-range of legal documents, delivering highly
        accurate transcripts in minutes!
      </div> -->
      <div class="col-md-7 default-text large-text">
        Eznotes delivers highly accurate notes in minutes!
      </div>
      <div class="col-md-5 text-center">
        <button class="btn button-color" routerLink="/tryFree">
          Try It Free!
        </button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 row home-item-container justify-content-around">
  <div class="col-md-5">
    <p class="image-heading text-center">
      Benefits for students of lecture capture
    </p>
    <!-- <div class="row list-item">
          <p>
            <i class="fa fa-play"></i>Transcribe from source language to desired
            language
          </p>
        </div> -->
    <div class="row list-item">
      <p>
        <i class="fa fa-play"></i>Students can play back the lecture at their
        own pace
      </p>
    </div>
    <div class="row list-item">
      <p>
        <i class="fa  fa-play"></i>Students can retain 100% of lecture
        information
      </p>
    </div>
    <div class="row list-item">
      <p>
        <i class="fa fa-play"></i>Revisit specific topics they may not have
        fully understood the first time around.
      </p>
    </div>

    <div class="row list-item">
      <p>
        <i class="fa fa-play"></i>Enable ESL students to interpret or understand
        everything that is covered during a lecture.
      </p>
    </div>
    <div class="row list-item">
      <p>
        <i class="fa fa-play"></i>Students with learning disabilities have a
        recorded record which they can repeat as many times as they need to
        understand the content
      </p>
    </div>
    <div class="row list-item">
      <p>
        <i class="fa fa-play"></i>Electronic version of the lecture is stored,
        so it is not a problem if handwritten notes are lost.
      </p>
    </div>
    <div class="row list-item">
      <p>
        <i class="fa fa-play"></i>Being able to listen to a lecture online means
        that students who can’t be physically present in a lecture still feel
        part of a learning community and can hear their tutors speaking about a
        topic.
      </p>
    </div>
    <div class="row list-item">
      <p>
        <i class="fa fa-play"></i>During intense revision periods it can be very
        beneficial for students to be able to revisit or catch up on lectures
        and to navigate easily to the content they need.
      </p>
    </div>
    <div class="row list-item">
      <p>
        <i class="fa fa-play"></i>students who find it difficult to learn from
        lectures have an alternative method of delivery to suit their learning
        style.
      </p>
    </div>
  </div>
  <div class="col-md-5">
    <h1 class="text-center form-heading">FREE TRIAL SIGN UP</h1>
    <div class="form-div">
      <form class="login-form">
        <div class="form-group">
          <label>First Name</label>
          <input type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label>User Email</label>
          <input type="email" class="form-control" />
        </div>
        <div class="form-group">
          <label>User Password</label>
          <input type="password" class="form-control" />
        </div>
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" />
        </div>

        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Our Terms & Conditions</label
          >
        </div>
        <button type="button" class="btn submit-btn col-md-12">Submit</button>
        <br />
      </form>
    </div>
  </div>
</div>
<div class="col-md-12 row info-container justify-content-around">
  <div class="col-md-5">
    <!-- <p>
      <strong>Eznotes Transcribe</strong> provides the highest quality
      audio-to-text and video-to-text transcription services available on the
      market through proprietary technology that is fast, secure, accurate and
      easy to use. We provide the highest quality service with our flexible and
      cost efficient plans that will improve your workflow and increase your
      profitability.
    </p> -->
  </div>
  <div class="col-md-5 checkbox-item-container">
    <div class="row checkbox-row">
      <div class="col-md-6 row">
        <i class="fa fa-check-square-o fa-2x"></i>
        <h3>Audio-To-Text</h3>
      </div>
      <div class="col-md-6">
        <i class="fa fa-check-square-o fa-2x"></i>
        <h3>Summary</h3>
      </div>
    </div>
    <div class="row checkbox-row">
      <div class="col-md-6">
        <i class="fa fa-check-square-o fa-2x"></i>
        <h3>Voice-To-Text</h3>
      </div>
      <div class="col-md-6">
        <i class="fa fa-check-square-o fa-2x"></i>
        <h3>Transcript File Management</h3>
      </div>
    </div>
    <div class="row checkbox-row">
      <div class="col-md-10">
        <i class="fa fa-check-square-o fa-2x"></i>
        <h3>Captioning</h3>
      </div>
    </div>
  </div>
</div>
