/* You can add global styles to this file, and also import other style files */
@import "./assets/variables.scss";
@import "../node_modules/angular-notifier/styles.scss";

* {
  font-family: "Oswald", sans-serif;
  letter-spacing: 1px;
  word-break: break-word;
}

// .header{
//     height: 80px;
//     background-color: white;
//     img{
//         margin-left:30px;
//     }
// }
// header{
//     width:100%;
//     position: fixed;
//     z-index:6;
// }

.title {
  color: $nav-title-color;
  font-weight: 600;
}

.ngxp__arrow {
  border: 0 !important;
}

.default-text {
  color: white;
  text-align: center;
}
.footer {
  position: relative;
  background-color: black;
  color: grey;
  font-weight: 800;
  bottom: 0px;
  height: 70px;
  p {
    margin: 20px 20px 0px 20px;
  }
}
.footer.row {
  margin-left: 0px;
  margin-right: 0px;
}

.vertical-spacer {
  min-height: 30px;
}

.icon-color {
  color: $primary-button-color;
}

.button-color {
  background-color: $primary-button-color;
  border-color: $primary-button-color;
  color: white;
}

.login-footer {
  height: 150px;
  padding: 20px;
  background-color: black;
  h5 {
    display: inline-block;
  }
  .default-text {
    text-align: left;
  }
}

.twitter {
  background-color: #00aced;
}
.linkedin {
  background-color: #007bb6;
}
.facebook {
  background-color: #3b5998;
}
.instagram {
  background-color: #ea2c59;
}

.social-media-icon {
  text-align: center;
  margin: 5px;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  display: inline-block;
  i {
    padding-top: 3px;
    color: white;
    margin: 5px;
  }
}

.fa-envelope {
  margin-right: 10px;
}
.login-form {
  margin: 20px;
}
.grey-background {
  background-color: #f4f4f4f4;
  padding: 20px;
}
.grey-gradient-background {
  background-image: linear-gradient(180deg, #f4f4f4f4 0%, #ffffff 100%);
}
.grey-text {
  color: grey;
}
.cross-font {
  font-family: "Croissant One", cursive;
}

.error {
  color: red;
  margin: 8px 0;
}

.navbar {
  background-color: white;
  img {
    cursor: pointer;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $primary-button-color !important;
}
.center-text {
  text-align: center;
}

@media (max-width: 800px) {
  .login-footer {
    height: auto;
    .footer-item-1.col-6 {
      flex: none;
      max-width: 40% !important;
      width: 40%;
      height: 150px;
      margin-left: 5%;
      margin-top: 20px;
    }
  }
}

// @media (max-width: 500px) {
//   .login-footer {
//     height: auto;
//     .footer-item-1.col-6 {
//       flex: none;
//       height: 150px;
//       max-width: 40% !important;
//       width: 40%;
//       margin-left: 5%;
//       margin-right: 5%;
//       margin-top: 20px;
//     }
//   }
// }
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.cursor-pointer {
  cursor: pointer;
}
.nav-tabs .nav-link {
  color: $primary-button-color;
}
.card-header {
  padding: 5px !important;
}

.cursor-p {
  cursor: pointer;
}

.mt2 {
  margin-top: 16px;
}
