<div fxLayout="column">
  <div class="blog-image">
    <section class="section">
      <div class="default-text large-text cross-font">
        My Files
      </div>
    </section>
  </div>
</div>
<div class="col-md-12">
  <div class="accordion" id="accordionExample">

    <div class="card header-card">
      <div class="card-header card-div">
        <div class="row justify-content-between align-items-center">
          <p class="mb-0 col-3">Name</p>
          <p class="mb-0 col-2">Size</p>
          <p class=" mb-0 col-3">Created Date</p>
          <p class=" mb-0 col-3">Modified Date</p>
          <p class=" mb-0 col-1">Actions</p>
        </div>
      </div>
    </div>
    <br>

    <ng-container *ngFor="let file of files; let i = index">
      <div class="card" *ngIf="!file.showEdit">
        <div class="card-header card-div">
          <div class="row justify-content-between align-items-center">
            <p class="mb-0 col-3 file">
              {{ file.originalName }}
            </p>
            <p class="mb-0 col-2 small-text size">{{ file.originalSize }} kb</p>
            <p class="mb-0 col-3 small-text date">{{ file.createdAt | date: 'dd MMM yyyy'}}</p>
            <p class=" mb-0 col-3 small-text date">{{ file.createdAt  | date: 'dd MMM yyyy'}}</p>
            <p class="mb-0 col-1">
              <i class="fa fa-pencil action-icon" (click)="editFile(file)"></i>
              <i class="fa fa-download action-icon" (click)="downloadFile(file)"></i>
            </p>
          </div>
        </div>
        <!-- <div
          [ngClass]="{ collapse: file.collapse, show: !file.collapse }"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            {{ file.text }}
          </div>
        </div> -->
        <br />
      </div>
    </ng-container>
  </div>
</div>
