<div fxLayout="column">
  <div class="blog-image">
    <section class="section">
      <div class="default-text large-text cross-font">
        My Notes
      </div>
    </section>
  </div>
</div>
<div class="col-md-12 center-90 min-height table">
  <div class="accordion" id="accordionExample">
    <div class="card header-card">
      <div class="card-header card-div">
        <div class="row justify-content-between align-items-center">
          <p class="mb-0 col-2 pointer" (click)="sortByName()">
            Name
            <i
              class="fa fa-caret-down"
              *ngIf="sortByNameAsc && selected == 0"
            ></i>
            <i
              class="fa fa-caret-up"
              *ngIf="!sortByNameAsc && selected == 0"
            ></i>
          </p>
          <p class="mb-0 col-1 pointer" (click)="sortBySize()">
            Size
            <i
              class="fa fa-caret-down"
              *ngIf="sortBySizeAsc && selected == 1"
            ></i>
            <i
              class="fa fa-caret-up"
              *ngIf="!sortBySizeAsc && selected == 1"
            ></i>
          </p>
          <p class="mb-0 col-2 pointer" (click)="sortByOwner()">
            Owner
            <i
              class="fa fa-caret-down"
              *ngIf="sortByOwnerAsc && selected == 2"
            ></i>
            <i
              class="fa fa-caret-up"
              *ngIf="!sortByOwnerAsc && selected == 2"
            ></i>
          </p>
          <p class=" mb-0 col-2 pointer" (click)="sortByCreated()">
            Created Date
            <i
              class="fa fa-caret-down"
              *ngIf="sortByCreatedAsc && selected == 3"
            ></i>
            <i
              class="fa fa-caret-up"
              *ngIf="!sortByCreatedAsc && selected == 3"
            ></i>
          </p>
          <p class=" mb-0 col-2 pointer" (click)="sortByEdited()">
            Modified Date
            <i
              class="fa fa-caret-down"
              *ngIf="sortByEditedAsc && selected == 4"
            ></i>
            <i
              class="fa fa-caret-up"
              *ngIf="!sortByEditedAsc && selected == 4"
            ></i>
          </p>
          <p class=" mb-0 col-1 pointer" (click)="sortByEdited()">
            File Type
            <i
              class="fa fa-caret-down"
              *ngIf="sortByEditedAsc && selected == 5"
            ></i>
            <i
              class="fa fa-caret-up"
              *ngIf="!sortByEditedAsc && selected == 5"
            ></i>
          </p>
          <p class=" mb-0 col-2 pointer">Actions</p>
        </div>
      </div>
    </div>
    <br />

    <ng-container *ngFor="let file of files; let i = index">
      <div class="card">
        <div class="card-header card-div">
          <div class="row justify-content-between align-items-center">
            <p
              class="mb-0 col-2 file filename"
              contenteditable="true"
              (input)="changeName(file, $event.target.innerText)"
              [ngClass]="{ bold: file.isNew }"
            >
              {{ file.originalName }}
            </p>
            <p
              class="mb-0 col-1 small-text size"
              *ngIf="!file.hasSummary && !file.hasQa"
            >
              {{ (file.originalSize / 1048576).toFixed(2) }} Mb
            </p>
            <p class="mb-0 col-1 small-text size" *ngIf="file.hasSummary">-</p>
            <p class="mb-0 col-1 small-text size" *ngIf="file.hasQa">-</p>
            <p class="mb-0 col-2 small-text date">
              {{ file.userEmail }}
            </p>
            <p class="mb-0 col-2 small-text date">
              {{ file.createdAt | date: "dd MMM yyyy" }}
            </p>
            <p class=" mb-0 col-2 small-text date">
              {{ file.editedAt | date: "dd MMM yyyy" }}
            </p>
            <p class=" mb-0 col-1 small-text date">
              {{
                file.hasSummary
                  ? "Summary"
                  : file.hasQa
                  ? "QA"
                  : "Transcription"
              }}
            </p>
            <p class="mb-0 col-2">
              <i class="fa fa-pencil action-icon" (click)="editFile(file)"></i>
              <i
                *ngIf="file.hasSummary || file.hasQa"
                class="fa fa-download action-icon"
                (popperOnShown)="onDownloadShown(file)"
                [popper]="summaryDownload"
                [popperTrigger]="'click'"
                [popperHideOnClickOutside]="true"
                [popperHideOnScroll]="true"
                [popperPlacement]="'left'"
                [popperStyles]="{
                  'background-color': '#fff',
                  border: 0,
                  padding: '16px 32px'
                }"
              >
              </i>
              <i
                *ngIf="!file.hasSummary && !file.hasQa"
                class="fa fa-download action-icon"
                (popperOnShown)="onDownloadShown(file)"
                [popper]="transcriptionDownload"
                [popperTrigger]="'click'"
                [popperHideOnClickOutside]="true"
                [popperHideOnScroll]="true"
                [popperPlacement]="'left'"
                [popperStyles]="{
                  'background-color': 'white',
                  border: 0,
                  padding: '16px 0',
                  'border-radius': 0,
                  'box-shadow': '0px 0px 6px lightgray'
                }"
              >
              </i>
              <i
                mwlConfirmationPopover
                class="fa fa-trash action-icon"
                [popoverTitle]="'Delete file'"
                [popoverMessage]="'Do you want to delete this file?'"
                (confirm)="deleteFile(file)"
              ></i>
            </p>
          </div>
        </div>
        <br />
      </div>
    </ng-container>
  </div>
</div>

<notifier-container></notifier-container>
<ngx-spinner></ngx-spinner>

<popper-content #summaryDownload>
  <p class="bold download-item" (click)="onSummaryDownload()">Download</p>
</popper-content>

<popper-content #transcriptionDownload>
  <p class="download-item" (click)="onDownload(true, false)">
    <i class="fa fa-file-pdf-o  action-icon" style="color: gray"></i>
    Download Pdf
  </p>
  <p class="download-item" (click)="onDownload(true, true)">
    <i class="fa fa-file-pdf-o  action-icon" style="color: gray"></i>
    Download Pdf(Speaker)
  </p>
  <p class="download-item" (click)="onDownload(false, false)">
    <i class="fa fa-file-text-o action-icon" style="color: gray"></i> Download
    Docs
  </p>
  <p class="download-item" (click)="onDownload(false, true)">
    <i class="fa fa-file-text-o action-icon" style="color: gray"></i>
    Download Docs(Speaker)
  </p>
  <p class="download-item" (click)="onCaptionDownload()">
    <i class="fa fa-file-video-o action-icon" style="color: gray"></i>
    Download Caption Video
  </p>
</popper-content>
