<div fxLayout="column">
  <div class="blog-image">
    <section class="section">
      <div class="default-text large-text cross-font">
        My Files
      </div>
    </section>
  </div>
</div>
<div class="col-md-10 offset-md-1">
  <div class="accordion " id="accordionExample">
    <div>
      <div class="card">
        <div class="card-header card-div">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" aria-expanded="true">
              1. &nbsp;First Document.pdf
            </button>
          </h2>
        </div>
        <div
          class="collapse show"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            LiivLabs provides the highest quality audio-to-text and
            video-to-text transcription services available on the market through
            proprietary technology that is fast, secure, accurate and easy to
            use. We provide the highest quality service with our flexible and
            cost efficient plans that will improve your workflow and increase
            your profitability.
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
  <div class="accordion " id="accordionExample">
    <div>
      <div class="card">
        <div class="card-header card-div">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" aria-expanded="true">
              1. &nbsp;First Document.pdf
            </button>
          </h2>
        </div>
        <div
          class="collapse show"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            LiivLabs provides the highest quality audio-to-text and
            video-to-text transcription services available on the market through
            proprietary technology that is fast, secure, accurate and easy to
            use. We provide the highest quality service with our flexible and
            cost efficient plans that will improve your workflow and increase
            your profitability.
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
  <div class="accordion " id="accordionExample">
    <div>
      <div class="card">
        <div class="card-header card-div">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" aria-expanded="true">
              1. &nbsp;First Document.pdf
            </button>
          </h2>
        </div>
        <div
          class="collapse show"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            LiivLabs provides the highest quality audio-to-text and
            video-to-text transcription services available on the market through
            proprietary technology that is fast, secure, accurate and easy to
            use. We provide the highest quality service with our flexible and
            cost efficient plans that will improve your workflow and increase
            your profitability.
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
<br />
