<div fxLayout="column">
  <div class="blog-image">
    <section class="section" fxFlex="100">
      <div class="default-text upload-file" (click)="input.click()">
        <div>
          <input type="file" hidden="true" #input />
          <p><i class="fa fa-download fa-1x"></i>Select audio/video file</p>
        </div>
      </div>
      <!-- <div class="default-text small-text cross-font">
        Upload or Record any audio/video and get its transcription instantly.
      </div> -->
    </section>
  </div>
</div>
<!-- <div class="col-md-12">
  <div class="feature-div row justify-content-center">
    <div class="col-md-4 icon-item">
      <div class="speech-to-text-item">
        <div>
          <div>
            <i class="fa fa-5x fa-cloud-upload"></i>
          </div>
          <br /><br />
          <h3>UPLOAD</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 icon-item">
      <div class="speech-to-text-pencil">
        <div>
          <div>
            <i class="fa fa-5x fa-pencil"></i>
          </div>
          <br /><br />
          <h3>EDIT</h3>
          <p>
            Review your transcript with timestamps and speakers.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 icon-item">
      <div class="speech-to-text-item">
        <div>
          <div>
            <i class="fa fa-5x fa-cloud-download"></i>
          </div>
          <br /><br />
          <h3>Download</h3>
          <p>
            Save & export your transcript as MS Word,PDF,SRT,VTT and more.
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="speech-to-text-div">
  <br />
  <div class="col-md-12">
    <div class="row justify-content-center"><h4>Record Audio/Video</h4></div>
    <div class="col-md-6 offset-md-3">
      <div class="row justify-content-center">
        <video id="player" autoplay controls></video>
      </div>
      <br />
      <div class="row col-md-12 justify-content-center button-row">
        <button
          type="button"
          class="btn button-color"
          (click)="recordStart = true"
          *ngIf="!recordStart"
        >
          Record Video
        </button>
        <button type="button" class="btn button-color" *ngIf="!recordStart">
          Record Audio
        </button>
        <button
          type="button"
          class="btn red-button"
          (click)="recordingStarted = true"
          *ngIf="recordStart && !recordingStarted"
        ></button>
        <button
          type="button"
          class="btn player-button"
          (click)="recordingStopped = true"
          *ngIf="recordingStarted"
        >
          <i class="fa fa-stop"></i>
        </button>
        <button
          type="button"
          class="btn player-button"
          (click)="recordingPause = true"
          *ngIf="recordingStarted && !recordingPause"
        >
          <i class="fa fa-pause"></i>
        </button>
        <button
          type="button"
          class="btn player-button"
          (click)="recordingPause = false"
          *ngIf="recordingStarted && recordingPause"
        >
          <i class="fa fa-play"></i>
        </button>
        <!-- <button
          type="button"
          class="btn button-color"
          (click)="stopRecording()"
        >
          Stop Video Recording
        </button>
        <button type="button" class="btn button-color">Record Audio</button>
        <button type="button" class="btn button-color align-self-center">
          Stop Audio Recording
        </button> -->
      </div>
      <div
        class="row col-md-12 justify-content-center button-row"
        *ngIf="recordingStopped"
      >
        <button
          type="button"
          class="btn button-color"
          (click)="recordingPause = true; saveRecording()"
        >
          Save
        </button>
        <button
          type="button"
          class="btn button-color"
          (click)="recordingPause = false"
        >
          Delete
        </button>
      </div>
      <div class="row justify-content-center" *ngIf="recordingSaved">
        <button type="button" class="btn button-color">Convert To Text</button>
      </div>
    </div>

    <!-- <div class="row justify-content-center warning">
      <h3>Transcript quality depends on audio quality</h3>
    </div> -->
  </div>
</div>
<div class="row justify-content-center feedback-container">
  <div class="col-md-4 review-items">
    <div class="feedback-item">
      <div>
        <div>
          <img
            src="http://159.89.118.118/wp-content/uploads/2019/03/imgpsh_fullsize_anim-5.png"
          />
        </div>
        <br />
        <h3>For Excellent Notes</h3>
        <p>
          Little background noise
        </p>
        <p>Clear speaker(s)</p>
        <p>Minimal accents</p>

        <p>Result:90-95% Accuracy</p>
      </div>
    </div>
  </div>
  <br />
  <!-- <div class="col-md-4 review-items">
    <div class="feedback-item">
      <div>
        <div>
          <img
            src="http://159.89.118.118/wp-content/uploads/2019/03/imgpsh_fullsize_anim-6.png"
          />
        </div>
        <br />
        <h3>Difficult Audio</h3>
        <p>
          Heavy background noise
        </p>
        <p>Crosstalk</p>
        <p>Strong accents</p>

        <p>Result:Mostly Unusable</p>
      </div>
    </div>
  </div> -->
  <br />
</div>
<br /><br />
