<div fxLayout="column" class="container">
  <div fxFlex="100" fxLayoutAlign="center center">
    <div class="form-div">
      <form class="login-form">
        <div class="form-group">
          <label for="email">Email address</label>
          <input [(ngModel)]="email" type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email"/>
        </div>
        <button type="button" class="btn button-color col-md-12" (click)="onSubmit()"
          [attr.disabled]="email ? null: ''">Submit</button>
        <div class="error" *ngFor="let err of errors">{{err}}</div>
    </form>
  </div>
</div>
</div>
<ngx-spinner></ngx-spinner>